<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletChainingDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SquareServlet</display-name>
    <servlet-name>SquareServlet</servlet-name>
    <servlet-class>com.deloitte.SquareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SquareServlet</servlet-name>
    <url-pattern>/SquareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CubeServlet</display-name>
    <servlet-name>CubeServlet</servlet-name>
    <servlet-class>com.deloitte.CubeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CubeServlet</servlet-name>
    <url-pattern>/CubeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MethodDemo</display-name>
    <servlet-name>MethodDemo</servlet-name>
    <servlet-class>com.deloitte.MethodDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MethodDemo</servlet-name>
    <url-pattern>/MethodDemo</url-pattern>
  </servlet-mapping>
</web-app>